<<<<<<< HEAD
<h1>Editing Book</h1>

<%= form_with model:@book, local: true do |f| %>

  <div class="field">
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<a><%= link_to 'Show', booklist_path(@book.id) %></a>
|
<a><%= link_to "Back", books_path %></a>

=======
<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>
>>>>>>> origin/main
