<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>WebCampBackendNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
=======
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

>>>>>>> origin/main
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> origin/main
